<link rel="stylesheet" href="/stylesheets/navbar.css" type="text/css">

<div id="navbar">
  <div id="logo"><img src="/images/scrabble-logo.png"></div>
  <div id="gameTitle">SCRABBLE</div>
  <div id="accountDropdown">username</div>
</div>