<html>
  <head>
    <%- include('./partials/header', {title: title}); %>
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
  </head>
  <body>
    <div id="content-wrap">
      <%- include('./partials/navbars/unauthenticated_navbar'); %>

      <h1 class="page-title">Home Page (Unauthenticated)</h1>

      <div id="authenticationButtons">
        <a class="btn" href="/authentication/log-in">Log-In</a><br />
        <a id="signUpButton" class="btn" href="/authentication/sign-up">Sign-Up</a>
      </div>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>