<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
  </head>
  <body>
    <p><%= name %></p>

    <script src="/scripts/bundle.js"></script>
  </body>
</html>