<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
  </head>
  <body>
    <%- include('./partials/navbar'); %>
    <p>Lobby (Authenticated)</p>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/games/42">Game with ID 42</a></li>
      <li><a href="/lobby">Lobby</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/authentication/log-out">Log-Out</a></li>
    </ul>

    <div id="chat-container">
      <div id="messages"></div>
      <label>
        <input id="chatMessage" name="chat-message" placeholder="Message..." />
      </label>
    </div>

    <script src="/scripts/bundle.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>