<html>
  <head>
    <%- include('./partials/header', {title: title}); %>
  </head>
  <body>
    <div id="content-wrap">
      <%- include('./partials/navbar', {state: "log-in"}); %>
      
      <h1 id="pageTitle">Log-In (Unauthenticated)</h1>

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/games/42">Game with ID 42</a></li>
        <li><a href="/lobby">Lobby</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/authentication/sign-up">Sign-Up</a></li>
      </ul>

      <form action="/authentication/log-in" method="post">
        <label>
          <em>Email</em>
          <input name="email" type="email" placeholder="Email" autocomplete="email" required />
        </label>
        <label>
          <em>Password</em>
          <input name="password" type="password" autocomplete="current-password" required />
        </label>
        <input type="submit" value="Log In" />
      </form>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>