<html>
  <head>
    <%- include('./partials/header', {title: title}); %>
  </head>
  <body>
    <div id="content-wrap">
      <%- include('./partials/navbars/unauthenticated_navbar') %>

      <h1 class="page-title">Log-In (Unauthenticated)</h1>
      
      <div id="formHolder">
        <form action="/authentication/log-in" method="post">
          <label for="email">Email</label>
          <input
            id="email"
            name="email"
            type="email"
            placeholder="Email"
            autocomplete="email"
            required />
          
          <label for="password">Password</label>
          <input
            id="password"
            name="password"
            type="password"
            placeholder="Password"
            autocomplete="current-password"
            required />

          <% if(locals.message){ %>
            <span class="form-fail"> <%=message %></span>
          <% } %>
          <div id="buttonHolder">
            <input type="submit" value="Log In" />
          </div>
        </form>
      </div>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>