<html>
  <head>
    <%- include('./partials/header', {title: title}); %>
    <style>
      #profilePicture {
        text-align: center;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div id="content-wrap">
      <%- include('./partials/navbars/authenticated_navbar', {username: username}); %>

      <h1 id="pageTitle">Profile (Authenticated)</h1>

      <div id="formHolder">
        <form action="/profile" method="post">
          <div id="profilePicture">Profile Picture</div>

          <label for="full_name">Full Name</label>
          <input
            id="full_name"
            name="full_name"
            type="text"
            placeholder="Full Name"
            autocomplete="full_name" />

          <label for="username">Username</label>
          <input
            id="username"
            name="username"
            type="text"
            placeholder="Username"
            autocomplete="username" />
          
          <label for="password">Password</label>
          <input
            id="password"
            name="password"
            type="password"
            placeholder="Password"
            autocomplete="current-password" />
          
          <div id="buttonHolder">
            <input type="submit" value="Save Changes" />
          </div>
        </form>
      </div>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>