<html>
  <head>
    <%- include('./partials/header', {title: title}); %>
  </head>
  <body>
    <div id="content-wrap">
      <%- include('./partials/navbar', {state: username}); %>

      <h1 id="pageTitle">Profile (Authenticated)</h1>

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/games/42">Game with ID 42</a></li>
        <li><a href="/lobby">Lobby</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/authentication/log-out">Log-Out</a></li>
      </ul>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>