<html>
  <head>
    <%- include('./partials/header', {title: title}); %>
  </head>
  <body>
    <div id="content-wrap">
      <%- include('./partials/navbars/unauthenticated_navbar') %>

      <h1 class="page-title">Sign-Up (Unauthenticated)</h1>

      <div id="formHolder">
        <form action="/authentication/sign-up" method="post">
          <label for="full_name">Full Name</label>
          <input
            id="full_name"
            name="full_name"
            placeholder="Full Name"
            autocomplete="full_name"
            required />
          
          <label for="username">Username</label>
          <input
            id="username"
            name="username"
            placeholder="Username"
            autocomplete="username"
            required />
  
          <label for="email">Email</label>
          <input
            id="email"
            name="email"
            type="email"
            placeholder="Email"
            autocomplete="email"
            required />
  
          <label for="password">Password</label>
          <input
            id="password"
            name="password"
            type="password"
            placeholder="Password"
            autocomplete="new-password"
            required />

          <% if(locals.message){ %>
          <span class="form-fail"> <%=message %></span>
          <% } %>
  
          <div id="buttonHolder">
            <input type="submit" value="Sign Up" />
          </div>
        </form>
      </div>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>