<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
  </head>
  <body>
    <p>Sign-Up (Unauthenticated)</p>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/games/42">Game with ID 42</a></li>
      <li><a href="/lobby">Lobby</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/log-in">Log-In</a></li>
    </ul>

    <form action="/sign-up" method="post">
      <label>
        <em>Full Name</em>
        <input name="full_name" placeholder="Full Name" autocomplete="full_name" required />
      </label>
      <label>
        <em>Username</em>
        <input name="username" placeholder="Username" autocomplete="username" required />
      </label>
      <label>
        <em>Email</em>
        <input name="email" type="email" placeholder="Email" autocomplete="email" required />
      </label>
      <label>
        <em>Password</em>
        <input name="password" type="password" autocomplete="new-password" required />
      </label>
      <input type="submit" value="Sign Up" />
    </form>

    <script src="/scripts/bundle.js"></script>
  </body>
</html>