/* Credit to Adam111p: https://stackoverflow.com/a/47273110 */

#navbar {
  height: 35px;
  position: relative;
}

#navbar div {
  display: inline-block;
  position: absolute;
}

#logo {
  left: 0px;
}

#logo img {
  max-height: 50px;
  max-width: 55px;
}

#gameTitle {
  left: 0%;
  right: 0%;
  text-align: center;
  font-size: 30px;
}

#accountDropdown {
  right: 0%;
}
